@import "../../../node_modules/primeng/resources/themes/lara-dark-indigo/theme.css";

// Overridden theme

.p-button:focus {
  box-shadow: none;
}

// Custom styles

:root {
  --base-background-color: #1E1E1E;
  --component-primary-color: #2B2B3B;
  --component-secondary-color: #252534;
  --base-color: #FFFFFFDE;
}

html {
  background-color: var(--base-background-color);
  color: var(--base-color);
}

.component {
  background-color: var(--component-primary-colorr);
}
