@import "../../../node_modules/primeng/resources/themes/lara-dark-indigo/theme.css";

// Overridden theme

.p-button:focus {
  box-shadow: none;
}

// Custom styles

$base-background-color: #1E1E1E;
$component-background-color : #2B2B3B;
$base-color : #FFFFFFDE;

html {
  background-color: $base-background-color;
  color: $base-color;
}

.component {
  background-color: $component-background-color;
}
