@import "../../../node_modules/primeng/resources/themes/lara-dark-indigo/theme.css";
// Overridden theme

// button
.p-button:focus {
  box-shadow: none;
}

// Custom styles

:root {
  --base-color: #FFFFFFDE;
  --background-color: #1E1E1E;
  --primary-color: #2B2B3B;
  --secondary-color: #252534;
  --card-background: #3232324D;
  --error: #B00020;
  --error-background: #CF6679;
}

html {
  background-color: var(--background-color);
  color: var(--base-color);
}
