@import "../../../node_modules/primeng/resources/themes/lara-light-indigo/theme.css";
// Overridden theme

// button
.p-button:focus {
  box-shadow: none;
}

// Custom styles

:root {
  --base-color: #000000DE;
  --background-color: #EAEAEA;
  --primary-color: #EDEDED;
  --secondary-color: #E8E8E8;
}

html {
  background-color: var(--background-color);
  color: var(--base-color);
}
