@import "../../../node_modules/primeng/resources/themes/lara-light-indigo/theme.css";

// Overridden theme

.p-button:focus {
  box-shadow: none;
}

// Custom styles

$base-background-color: #EAEAEA;
$component-background-color : #FEFEFE;
$base-color : #000000DE;

html {
   background-color: $base-background-color;
   color: $base-color;
}

.component {
  background-color: $component-background-color;
}

