<div class="app-page">
  <div class="app-page__header">
    <h1>{{ "shared-page.header" | translate }}</h1>
  </div>
  <div class="app-card container">
    <div class="app-card__header">
      <h2>{{ "shared-page.buttons" | translate }}</h2>
    </div>
    <div class="app-card">
      <div class="app-card__header">
        <h3>{{ "shared-page.buttons.severity" | translate }}</h3>
      </div>
      <div class="btn-container">
        <app-button label="Primary" severity="primary"></app-button>
        <app-button label="Secondary" severity="secondary"></app-button>
        <app-button label="Success" severity="success"></app-button>
        <app-button label="Info" severity="info"></app-button>
        <app-button label="Warning" severity="warning"></app-button>
        <app-button label="Help" severity="help"></app-button>
        <app-button label="Danger" severity="danger"></app-button>
      </div>
    </div>
    <div class="app-card">
      <div class="app-card__header">
        <h3>{{ "shared-page.buttons.icons" | translate }}</h3>
      </div>
      <div class="btn-container">
        <app-button label="Left" icon="pi pi-home"></app-button>
        <app-button
          label="Right"
          icon="pi pi-home"
          iconPos="right"
        ></app-button>
      </div>
    </div>
    <div class="app-card">
      <div class="app-card__header">
        <h3>{{ "general.notifications" | translate }}</h3>
      </div>
      <div class="btn-container">
        <app-button
          label="{{ 'general.notification.success' | translate }}"
          (onClick)="onNotificationSuccess()"
        >
        </app-button>
        <app-button
          label="{{ 'general.notification.info' | translate }}"
          (onClick)="onNotificationInfo()"
        >
        </app-button>
        <app-button
          label="{{ 'general.notification.warn' | translate }}"
          (onClick)="onNotificationWarn()"
        >
        </app-button>
        <app-button
          label="{{ 'general.notification.error' | translate }}"
          (onClick)="onNotificationError()"
        >
        </app-button>
      </div>
    </div>
    <div class="app-card">
      <div class="app-card__header">
        <h3>{{ "general.indicators" | translate }}</h3>
      </div>
      <div class="btn-container">
        <app-button
          label="{{ 'general.spinner' | translate }}"
          (onClick)="onToggleSpinner()"
        >
        </app-button>
      </div>
    </div>
  </div>
  <div class="app-card">
    <div class="app-card__header">
      <h2>{{ "shared-page.buttons.forms" | translate }}</h2>
    </div>
    <div class="btn-container">
      <app-button label="Toggle inline" (onClick)="onToggleInline()"></app-button>
      <app-button label="Toggle disable" (onClick)="onDisable()"></app-button>
    </div>
    <div class="wrapper">
      <app-spinner *ngIf="showSpinner"></app-spinner>
      <form [formGroup]="form" autocomplete="off" (ngSubmit)="onSubmit()">
        <app-form-field
          label="Input"
          [control]="form.controls['input']"
          [isInline]="isInline"
        >
          <app-input placeholder="input" formControlName="input"></app-input>
        </app-form-field>
        <app-form-field
          label="Password"
          [control]="form.controls['password']"
          [isInline]="isInline"
        >
          <app-input-password
            placeholder="password"
            formControlName="password"
          ></app-input-password>
        </app-form-field>
        <app-button label="Submit" type="submit"></app-button>
      </form>
      <pre>{{ form.value | json }}</pre>
    </div>
  </div>
</div>
