.menu {
  background-color: var(--component-primary-color);
  min-height: 100%;
}

.menu .menu__header {
  margin: 1rem 0;
}

.menu .menu__header__title {
  padding: 0 1rem;
  font-size: 0.7rem;
}

.menu .menu__header__title .logo {
  font-size: 2rem;
}

.menu .menu__header__title .app-name {
  font-size: 1rem;
  font-weight: bold;
}

.menu__btn--expand {
  border: none;
  cursor: pointer;
  color: var(--base-color);
  background-color: transparent;
  font-size: 1rem;
  padding: 0.2rem 1rem;
}

.menu__btn--expand:only-child {
  margin: 0 auto;
}

.menu .menu__navigation {
  margin: 1rem;
}

.menu .menu__footer {
background-color: var(--component-secondary-color);
}

.menu .menu__footer .profile {
  padding: 0.8rem 1rem;
}

.menu .menu__footer .profile .profile__name {
  font-size: 1rem;
}

.menu .menu__footer .profile .profile__role {
  font-size: 0.8rem;
}

.menu .menu__footer .menu__btn_logout {
  border: none;
  cursor: pointer;
  color: var(--base-color);
  background-color: transparent;
  padding: 0.2rem 1rem;
}

.menu .menu__footer .menu__btn_logout:only-child {
  margin: 0 auto;
}
