.menu {
  background-color: var(--primary-color);
  min-height: 100%;

  &__header {
    margin: 1rem 0;

    &__title {
      padding: 0 1rem;
      font-size: 0.7rem;

      .logo {
        font-size: 2rem;
      }

      .app-name {
        font-size: 1rem;
        font-weight: bold;
      }
    }
  }

  &__btn.expanded {
    border: none;
    cursor: pointer;
    color: var(--base-color);
    background-color: transparent;
    font-size: 1rem;
    padding: 0.2rem 1rem;
  }

  &__btn.expanded:only-child {
    margin: 0 auto;
  }

  &__navigation {
    margin: 1rem;
  }

  &__footer {
    background-color: var(--secondary-color);

    .menu__btn-logout {
      border: none;
      cursor: pointer;
      color: var(--base-color);
      background-color: transparent;
      padding: 0.2rem 1rem;
    }

    .menu__btn-logout:only-child {
      margin: 0 auto;
    }

    .profile {
      padding: 0.8rem 1rem;

      &__name {
        font-size: 1rem;
      }

      &__role {
        font-size: 0.8rem;
      }
    }
  }
}
